.body {
	background-color: #343642;
}

nav {
	background-color: #343642;
}

/*.section {
 	background-color: black;
 	height: 51rem;
}*/

/*.parallax {
	height: 50rem;
}*/

li a:hover {
  background-color: red;
}

/*.change-color a:hover {
	font-color: blue;
}*/