body {
    background-color: black;
}

.movie-icon {
    display: block;
    margin:auto;
    color: white;
}

.music-icon {
    display: block;
    margin:auto;
    color: white;
}

.photography-icon {
    display: block;
    margin:auto;
    color: white;
}