<div class="fullscreen-bg">
        <video poster="../Media/dashboardbackground.webmhd.webm" autoplay="" class="fullscreen-bg__video" loop="">
        <!--<source src="../Media/BlackSandsVik30R.webmhd.webm">-->
         <source src="../Media/dashboardbackground.webmhd.webm"></video>
    </div>


<div ng-controller= "usersController as userCtrl">

<div class="list" class="hidden">
            <ul class="collapsible" data-collapsible="expandable">
				<li>
                   <div class="collapsible-header"><i class="material-icons">assignment_ind</i>{{user.crew}}</div>
                    <div class="collapsible-body white">
                        <ul style="padding: 2%">
                          <li>Name: {{userCtrl.userList.firstName}} {{userCtrl.userList.lastName}}</li>
                          <li>Email: {{userCtrl.userList.email}}</li>
                          <li>City: {{userCtrl.userList.city}}</li>
                          <li>State: {{userCtrl.userList.state}}</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <button id="controlPanelButton" class="btn-large waves-effect waves-light green" ng-click= "userCtrl.open()">Generate</button>
            <!-- <button ng-click="userCtrl.search.test" ng-click="userCtrl.open()">Test</button> -->
        </div>
    </div>

    <!-- <ul class="collapsible" data-collapsible="accordion">
    	<li>
    		<div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    		<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    	</li>
    	<li>
    		<div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    		<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    	</li>
    	<li>
    		<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    		<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    	</li>
    </ul> -->

   
   <!-- <div ng-repeat="user in userCtrl.userList">
   		{{user}} -->

	
                  
	



   <!-- <div class="col s6">
            <ul class="collapsible" data-collapsible="expandable">
                  <li ng-repeat="User in searchCtrl.NewCrew">
                   <div class="collapsible-header"><i class="material-icons">assignment_ind</i>{{Person.Position}}</div>
                    <div class="collapsible-body white">
                        <ul style="padding: 2%">
                          <li>Name: {{User.firstName}} {{User.lastName}}</li>
                          <li>Email: {{User.email}}</li>
                          <li>City: {{user.city}}</li>
                          <li>Experience: {{Person.Experience}}</li>
                          <li>Equipment: {{Person.Equipment}}</li>
                          <li>Phone: {{Person.Phone}}</li>
                         </ul>
                    </div>
                  </li>
        
            </ul>
            
        </div> -->